.activity
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    z-index: 10
    border-top: $border
    background: linear-gradient(to left bottom, #ffbfbf, white)
    +flexbox(flex-start,center,column)
    .BackBtn
        //border: $border
        width: 100%
    .activity-main
        //border: $border
        margin: 0 15%
        .activity-mainTop
            border-bottom: $border
            margin-bottom: 30px
            .activity-mainTop-left
                h1
                    letter-spacing: .3em
                h2
                    letter-spacing: .2em
                .activity-date_mobile
                .activity-title-detail
                    .activity-detail-time
            .activity-date_desktop
        .activity-mainBottom
            p
                +contentText
            .activity-mainBottom-picture
                .mainBottom-picture_desktop
                .mainBottom-picture_mobile
    .activity-goBtn
