.about
    width: 100%
    border-top: $border
    .aboutTop
        width: 100%
        +flexbox(space-between,center,row)
        padding: $mainPadding
        .about-card
            width: 30%
            position: relative
            img
                width: 120px
                position: absolute
                right: 0
                top: 50%
                transform: rotate(-45deg) translateY(-50%)
                z-index: -1
            .about-card-top
                position: relative
                z-index: 2
                border-bottom: $border
                font-weight: 600
                padding-bottom: 15px
                +flexbox(flex-start,center)
                .about-card-left
                    margin-right: 30px
                    p
                        font-size: 1.5em
                        letter-spacing: .2em
                .about-card-right
                    font-size: 1.3em
                    font-weight: 700
                    letter-spacing: .2em
            .aboutTop-card-bottom
                margin-top: 10px
                color: grey
                font-size: .9em
                font-weight: 600
                
                p
                    
    .aboutBottom
        width: 100%
        padding: $mainPadding
        //border: $border
        background-color: #fff
        h1
            margin-bottom: 10px
        h2
            margin-bottom: 50px
        p
            +contentText
            text-align: justify
            span
                font-family: sans-serif