.about
    width: 100%
    border-top: $border
    .aboutTop
        width: 100%
        +flexbox(space-between,center,row)
        padding: $mainPadding
        .about-card
            width: 30%
            position: relative
            img
                width: 120px
                position: absolute
                right: 0
                top: 50%
                transform: rotate(-45deg) translateY(-50%)
                z-index: -1
            .about-card-top
                position: relative
                z-index: 2
                border-bottom: $border
                font-weight: 600
                padding-bottom: 15px
                +flexbox(flex-start,center)
                .about-card-left
                    margin-right: 30px
                    white-space: nowrap
                    p
                        font-size: 1.5em
                        letter-spacing: .2em
                .about-card-right
                    font-size: 1.3em
                    font-weight: 700
                    letter-spacing: .2em
                    white-space: nowrap
            .aboutTop-card-bottom
                margin-top: 10px
                +greyText
                font-weight: 600
                letter-spacing: .1em
                white-space: nowrap
                    
    .aboutBottom
        width: 100%
        padding: $mainPadding
        padding-bottom: 13%
        //border: $border
        //background-color: #fff
        h1
            margin-bottom: 10px
        h2
            margin-bottom: 50px
        div
            +greyText
            font-weight: 600
            text-align: justify
            color: $grey
            span
                font-family: sans-serif


@media screen and (max-width: 870px)
    .aboutTop
        flex-direction: column !important
        .about-card
            width: 100% !important
            margin: 5% 0     

    .aboutBottom
        div
            p
                display: inline
@media (max-width: 870px) and (min-width: 601px)
    .about-card-right
        //font-size: 2em !important
        p
            display: inline  

@media screen and (max-width: 600px)
    .about
        border-top: none
    .about-card-right
        font-size: 1.3em !important
        p
            display: block !important
    .aboutBottom
        h2
            font-size: 1.3em

