html
    height: 100%
body
    width: 100%
    height: 100%
    overflow-x: hidden
    -ms-overflow-style: none
    &::-webkit-scrollbar
        display: none

    #app
        width: 100%
        min-height: 100%
        // background: linear-gradient(to left bottom, #ffbfbf, white)
        .nav
            +flexbox(space-between,center,row)
            padding: 0 3%
            height: 80px
            +contentText
            .navLeft
                img
                    width: 30px
                    transition: .2s
                    opacity: .7   
                    &:hover
                        transform: scale(1.1)
                        opacity: 1
                         
            .navRight-desktop
                +flexbox(center,center,row)
                .navBtn
                    margin-right: 30px
                    list-style: none
                    color: grey
                    font-weight: 600
                    &:hover
                        color: black
                    img
                        opacity: .5
                        &:hover
                            opacity: 1
                a
                    text-decoration: none
                    
            .navRight-mobile
                z-index: 1000
                display: none
                width: 20px
                height: 35px
                position: relative
                transform: rotate(0deg)
                cursor: pointer
                transition: .5s ease-in-out
                span
                    display: block
                    position: absolute
                    left: 0
                    height: 1px
                    width: 100%
                    background-color: grey
                    transform: rotate(0deg)
                    transition: .25s ease-in-out
                    &:nth-child(1) 
                        top: 0px
                    &:nth-child(2),&:nth-child(3)
                        top: 10px
                        width: 13px
                    &:nth-child(4) 
                        top: 20px
                &.open span:nth-child(1)
                    top: 18px
                    width: 0%
                    left: 50%
                &.open span:nth-child(2)
                    transform: rotate(45deg)
                    background-color: #fff
                    width: 20px
                &.open span:nth-child(3)
                    transform: rotate(-45deg)
                    background-color: #fff
                    width: 20px
                &.open span:nth-child(4)
                    top: 18px
                    width: 0%
                    left: 50%                 
            .navItem-mobile
                display: none
                position: fixed
                top: 0
                left: 0
                width: 100vw
                height: 100vh
                z-index: 300
                opacity: 1
                transition: .3s
                .navItem-bgc
                    position: absolute
                    width: 100% 
                    height: 100%
                    background-color: #ffa8a8
                    opacity: .96
                .navItem-mobile-ul
                    left: 50%
                    transform: translateX(-50%)
                    width: 50%
                    height: 100%
                    position: absolute
                    a
                        text-decoration: none
                    .navItem-mobile-li
                        +flexbox(center,center)
                        text-align: center
                        height: 20%
                        list-style: none
                        color: white
                        border-bottom: solid 1px white
                        font-size: 1.7em
                        font-weight: 800
                        letter-spacing: .4em
                        user-select: none
                        &:hover
                            color: grey

.loading
    width: 100vw
    height: 100vh
    left: 0
    top: 0
    position: absolute
    z-index: 5000
    opacity: 0
    visibility: hidden
    background-color: #ffa8a8
    +flexbox(center, center)
    span
        @for $i from 0 through 6 
            &:nth-child(#{$i + 1}) 
                filter: blur(0px)
                animation: blur-text 1.5s #{$i/5}s infinite linear alternate
.loadingAni-start
    animation: loadingAni-start 3.5s forwards
@keyframes loadingAni-start
    0%
        opacity: 1
        visibility: visible
    25%
        opacity: 1
    75%
        opacity: 1
    100%
        opacity: 0
        visibility: hidden
.loadingAni
    animation: loadingAni 3.5s forwards
@keyframes loadingAni
    0%
        opacity: 0
        visibility: visible
    25%
        opacity: 1
    75%
        opacity: 1
    100%
        opacity: 0
        visibility: hidden

.loading-text
    color: white
    font-size: 1.3em
    letter-spacing: .7em
    font-family: 'Quattrocento Sans', sans-serif
@keyframes blur-text 
	0% 
        filter: blur(0px)
        //transform: translateY(-10px)
	100% 
        filter: blur(4px)
        //transform: translateY(0px)

.open
    position: fixed !important
    right: 15px
.hideNav
    left: 100vw !important
    opacity: 0 !important
.nowPage
    color: black !important
.nowPage-mobile
    color: grey !important

.slide-enter
  transform: translateX(-10px)
  opacity: 0

.slide-leave-to
  transform: translateX(10px)
  opacity: 0

.slide-enter-active, .slide-leave-active
  transition: all .5s

@media screen and (max-width: 600px)
    .navLeft
        img
            width: 25px !important
    .navRight-desktop
        display: none !important
    .navRight-mobile
        display: block !important
    .navItem-mobile
        display: block !important