.projects
    width: 100%
    //height: calc( 100% - 80px )
    border-top: $border
    +flexbox(space-between,center)
    .project-category
        width: 100%
        height: calc( 100vh - 80px )
        padding: 4%
        border-right: $border
        h6
            display: inline-block
            border-bottom: $border
            margin-bottom: 15px
            
        h1
            margin-bottom: 15px
        p
            +contentText
            font-size: .8em
            color: gray
            margin-bottom: 20px
        .project-team
            +flexbox(none,center)
            flex-wrap: wrap
            width: 100%
            li  
                display: block
                width: 25%
                margin: 3% 0
                margin-right: 8%
                img
                    width: 100%
                    border-radius: 50%
                    cursor: pointer
                    background-color: white
                    &:hover
                        transform: scale(1.1)
                        transition: .3s
.last-category
    border-right: none !important